<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDiv9IMTFXxYuPM2YNs5jdyJp85Ba_6uH0</string>
	<key>GCM_SENDER_ID</key>
	<string>897539440647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.modoRepair</string>
	<key>PROJECT_ID</key>
	<string>modo-repair</string>
	<key>STORAGE_BUCKET</key>
	<string>modo-repair.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897539440647:ios:4f4103ec9d90f62fb2eaa2</string>
</dict>
</plist>